<h1>Stupid Coaching</h1>
<div class = "container2">
<%= @question %>
<br>
<%= "- You"%>
</div>
<br>
<div class="container1"><%= @coachanswer %>
<br>
<%= "- Your coach's answer"%>
</div>
<br>
<%= link_to "Ask a new question", ask_path, class: "link" %>
